/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.header-footer {
    color: white;
    height: 50px;
}

.bg-teal-color {
    background-color: #3f51b5;
}

.mainContent {
    display: flex;
    overflow-y: auto;
    width: 100vw;
    height: calc(100vh - 100px);
}

.c-pointer {
    cursor: pointer;
}

.flex-grow-2 {
    flex-grow: 2;
}