<span class="d-flex justify-content-between">
  <span class="d-flex align-items-center">
    <mat-icon>keyboard_arrow_right</mat-icon>
    <p class="m-0 fw-bold">Home</p>
  </span>
</span>

<div class="d-flex flex-column flex-grow-1 align-items-center mt-4">
  <mat-card class="mt-2 dashboard-card c-pointer" routerLink="/main">
    <mat-card-content class="d-flex flex-grow-1 align-items-center justify-content-center flex-column">
      <mat-icon class="c-pointer dashboard-icon">dashboard</mat-icon>
      <p class="fw-bold">Dashboard</p>
    </mat-card-content>
  </mat-card>
</div>